#if( $util.isNull($ctx.source.customerID) )
  #return
#else
{
      "version": "2018-05-29",
      "operation": "GetItem",
      "key": {
          "id": $util.dynamodb.toDynamoDBJson($util.defaultIfNullOrBlank($ctx.source.customerID, "___xamznone____"))
    }
  }
#end