
 
<amplify-authenticator *ngIf="authState !== 'signedin'"></amplify-authenticator>

<div *ngIf="authState === 'signedin' && user" class="App container" >
    <!-- <amplify-sign-out></amplify-sign-out> -->
    <!-- <div>Hello, {{user.username}}</div> -->

    <header class="navbar fixed-top">
        <nav class="container">
            <div>
              <span class="navbar-brand"><a routerLink="/customers" class="white">Home</a></span>
            </div>
            <div class="d-flex">
                <!-- <span class="preferred-name">Welcome {{ (userSettings$ | async)?.preferredName }}!</span> -->
                <span class="preferred-name">Welcome {{ user.username }}!</span>
                <strong *ngIf="(customersLength$ | async ) as length" class="circle" routerLink="/customers">
                    {{ length }}
                </strong>
                <a routerLinks="/settings" class="p-2 settings">
                    <i class="fas fa-cog" aria-hidden="true"></i>
                    <amplify-sign-out></amplify-sign-out>

                 </a>
            </div>
        </nav>
    </header>
    <!-- This is where you application template code goes -->  
    <!-- <router-outlet></router-outlet> -->

</div>

<router-outlet></router-outlet>

<!--     
<div class="container">
    <router-outlet></router-outlet>
</div> -->
