

  <div id="main1">    
    <div class=" container fullHeight"  >
        <div class="row fullHeight ">
            <div class="col-xs-12  col-lg-4 col-sm-4   gradient-line">

                <!-- FIRST PART OF 3 COLUMN -->
                <div class="row">
                    <!-- <router-outlet></router-outlet> -->
                    <!-- HEADER OF FOUND -->
                    <div class="col-lg-12 padding15">
                    <div  class=" topButtomSpacing     " >
                        <div class="divider">
                            
                        <div *ngIf="(customers$| async) as list; else loading">

                            <span>Number of Customers: {{ (customers$ | async)?.length }} </span>
                            <div *ngIf="customers$ | async as customers" >
                                <app-customers-list 
                                [customers]="customers" 
                                [selectedCustomer]="selectedCustomerId" 
                                (onDeleteCustomer)="deleteCustomer($event[0])"
                                (onSelectCustomer)="selectCustomer($event[0])"
                                
                                                    >
                                </app-customers-list>
                            </div>
                        </div>
                        
                        
                        <ng-template #loading>
                            <p>Shows when no data, waiting for Api</p>
                            <!-- <loading-component></loading-component> -->
                          </ng-template>
<!--                          
                        <br/>
                        <button (click)="addCustomer()">Add Customer</button> -->
                    
                    </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <!-- FILTER  -->
                    <div class="col-lg-12">
                    <div  class=" topButtomSpacing padding15" >
                        FILTER
                        <!-- <QuestionFilterBar {...this.props}  currentuserid={this.state.userid}  teacherid={this.state.userid}  userid={this.state.userid || this.props.userid} subjectid={this.state.subjectid} subject={this.props.subject}  topicid={this.state.topicid} topic={this.props.topic}  question={this.props.question}  selectQuestion={this.selectQuestion}/> -->
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-8 col-sm-8 gradient-box-vertical gradient-line" >
                <!-- SECOND PART OF 9 COLUMN -->
                <div class="row  secondHeader-old">
                    <!-- HEADER OF TOOBAR -->
                    <div class="col-lg-12  padding15">
                    <div  class="  topButtomSpacing verticalLineEnds   " >
                        <!-- <QuestionToolBar question={this.props.question} id={this.props.id}/> -->
                        <customer-toolbar
                        [customer]="selectedCustomer" 
                        [addingItem]="showAddingCustomer" 
                        [editingItem]="showEditingCustomer" 
                        [deletingItem]="showDeletingCustomer" 
                        (onAddingCustomer)="addingCustomer()"
                        (onEditingCustomer)="editingCustomer($event[0])"
                        (onDeleteCustomer)="deleteCustomer($event[0])"

                    ></customer-toolbar>                
                    </div>
                    </div>
                </div>
                <div class="row">
                    <!-- DETAILS  -->
                    <div class="col-lg-12 padding15">
                    <div class=" row fullHeight " >
                        <div class=" col-lg-12 fullHeight topButtomSpacing ">
                            <div class=" padding15 noPaddingTop fullHeight     -old fullBorder-old "  >
                                
                                <customer-detail
                                    *ngIf="showCustomerDetail" 
                                    [customer]="selectedCustomer" 
                                    (onDeleteCustomer)="deleteCustomer($event[0])"

                                ></customer-detail>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


